.admin-profile {
    position: relative;
    float: left;
    height: 260px;
    width: 200px;
}

.admin-profile img {
    text-align: center;
    margin: 25px;
    height: 150px;
    width: 150px;
    
}

.admin-profile p {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}
