.content-section-container{
    margin-top: 30px;
    padding-bottom: 30px;
    padding-left: 300px;
    border-bottom: 1px solid #003452;
    margin-left: auto;
    margin-right: auto;
    display: block;

}