.function-bar{
    width: 200px;
    float: left;
}

.function-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}

.function-bar li {
    text-align: center;
    margin: 30px;
}