.order-details {
    width: 1000px;
    margin: 0 auto;
}

.order-details img {
    float: left;
    width: 250px;
    height: 250px;
}

.order-details .title {
    float: left;
    width: 165px;
}

.order-details .details {
    float: left;
    text-align: right;
    width: 200px;
}

.order-details .choice {
    float: left;
    margin-left: 150px;
}

.order-details .choice button{
    display: block;
    width: 150px;
    height: 30px;
    margin-top: 70px;
    font-size: 15px;
}