.search-box {
    margin-bottom: 50px;
}

.search-box h2 {
    font-size: 30px;
}

.search-box label {
    margin-right: 5px;
    font-size: 15px;
}

#item-number, #item-name {
    margin-right: 10px;
    font-size: 15px;
}

#submit, #export {
    margin-left: 30px;
    color: white;
    font-size: 25px;
    padding: 0;
    border: 0;
    background-color: blue;
    width: 90px;
    height: 40px;
}