.single-order {
    border: 1px solid black;
    width: 1000px;
    height: 200px;
}

.single-order:hover {
    box-shadow: 1px 3px 5px black;
}

.single-order img {
    float: left;
    width: 198px;
    height: 198px;
}

.single-order .summary {
    float: left;
}